# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
myenv/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python virtual environments
*.env
*.venv

# Logs
*.log

# Test coverage
.coverage
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/
pytest_cache/

# Pylint
pylint-report.txt
pylint-global.txt

# Other files
*.DS_Store
*.egg
*.egg-info
*.pdb
*.pyo
*.pyd