{% extends 'layout.html' %}

{% block content %}
    {% include 'components/task-form.html' %}

    <section>
        <h2>Task List</h2>
        <ul class="list-group">
            {% for task in tasks %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <span class="task-title">{{ task[1] }}</span> - {{ task[2] }} 
                    <span class="task-date">(Priority: {{ task[3] }}, Date: {{ task[6] }})</span>
                </div>
                <div>
                    <a href="/edit/{{ task[0] }}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="/delete/{{ task[0] }}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}